/node_modules
/public/hot
/public/storage
/public/storage/*.key
/vendor
/.idea
/.vagrant
_ide_helper.php
public/css/
public/js/
public/fonts/
storage/framework/views/
storage/app/public/
storage/logs/
Homestead.yaml
npm-debug.log
yarn-error.log
.env
