// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
  font-family: 'Conv_Boyarsky Bold Italic';
  src: url('../fonts/Boyarsky Bold Italic.eot');
  src: local('☺'), url('../fonts/Boyarsky Bold Italic.woff') format('woff'), url('../fonts/Boyarsky Bold Italic.ttf') format('truetype'), url('../fonts/Boyarsky Bold Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: Lato, sans-serif;
  height: 100%;
  font-size: 16px;
  color: #1f1f1f;
  margin: 0;
  a {
    color: #1f1f1f;
    &:hover, &:active, &:focus {
      text-decoration: none;
      color: #1f1f1f;
    }
  }
}

ul {
  list-style: none;
}

span, a {
  display: inline-block;
}

input, select {
  border: none;
  outline: none;
  padding: 0 0 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: #000;
}

textarea {
  outline: none;
}

h1.title {
  font-size: 30px;
}

.all {
  padding: 0;
}

.left {
  padding-left: 0;
}

.right {
  padding-right: 0;
}

.title {
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 25px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

#wrapper_all {
  width: 1210px;
  height: 100%;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  min-height: 100%;
  box-shadow: 0 0 5px 3px #dad8d4;
}

.img_container img {
  width: 100%;
}

.more {
  display: none;
  position: absolute;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  top: 130px;
  left: 30%;
  text-transform: none;
  border-radius: 10px;
  border: 3px solid #fff;
  padding: 5px 11px;
}

.white_btn {
  display: inline-block;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px 24px;
}

.white_btn:hover, .white_btn:active, .white_btn:focus {
  color: #1f1f1f;
}

/*
 ======================================================================

								Header

 ======================================================================
*/

header {
  margin-bottom: 26px;
  background: url("../img/header-background.jpg") no-repeat;
  height: 170px;
  .phone-header {
    font-size: 18px;
    width: 240px;
    font-weight: 700;
    color: $orange;
  }
  .logo {
    height: 58px;
    margin-top: 14px;
    width: 190px;
    float: left;
    img {
      width: 100%;
    }
  }
  ul {
    float: right;
    margin-right: 5px;
  }
  nav.navbar {
    height: 55px;
    border: none;
    padding-top: 11px;
    background-color: $green-light;
    border-radius: 0;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 50px;
  }
  li {
    font-size: 18px;
    border-radius: 7px;
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    &.active, &:active, &:focus, &:hover {
      background-color: $orange;
      color: #fff;
      a {
        color: #fff;
      }
    }
    a {
      font-weight: 400;
      line-height: 30px;
      padding-bottom: 2px;
      padding-left: 15px;
      padding-right: 15px;
      color: #0d0d0d;
    }
  }
  .todream {
    color: $green-dark;
    text-align: center;
    font-size: 17px;
    float: left;
    position: relative;
    top: 30px;
    left: 65px;
    line-height: 20px;
    span {
      color: $orange;
    }
  }
  .search_container {
    float: right;
    position: relative;
    margin-top: 35px;
    margin-left: 50px;
    input {
      border-radius: 10px;
      height: 38px;
      width: 271px;
      font-size: 18px;
    }
    span, input {
      cursor: pointer;
    }
    p {
      color: #196419;
      font-size: 19px;
      position: absolute;
      margin-left: -200px;
      margin-top: 10px;
      font-family: 'Conv_Boyarsky Bold Italic', sans-serif;
    }
    .glyphicon {
      color: #000;
      top: 1px;
      right: 10px;
    }
  }
}

header .row nav .navbar-collapse {
  float: right;
}

/*
 ======================================================================

								Breadcrumbs

 ======================================================================
*/

#breadcrumbs {
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: 30px;
  i {
    margin-left: 5px;
    margin-right: 5px;
  }
}

#breadcrumbs span {
  color: #8d8d8d;
}

#breadcrumbs a {
  color: #4c4c4c;
}

#breadcrumbs .breadcrumbs_arrow {
  //background-image: url("/images/arrow_bread.png");
  height: 10px;
  width: 10px;
  margin: 0 5px;
  vertical-align: 0;
}

/*
 ======================================================================

								Slider

 ======================================================================
*/

#slider {
  max-height: 450px;
  height: 450px;
  img {
    height: 450px;
    width: 100%;
  }
}

.content {
  padding-bottom: 330px;
  .error-404 {
    width: 100%;
  }
  .swiper-button-white {
    width: 43px;
    height: 43px;
    background-size: 35%;
    background-color: rgba(0, 0, 0, .4);
  }
  .swiper-button-next {
    margin-right: -15px;
  }
  .swiper-button-prev {
    margin-left: -15px;
  }
}

/*
 ======================================================================

                                Homepage

 ======================================================================
*/

#catalog_main {
  margin-bottom: 45px;
}

#catalog_main figure {
  padding-bottom: 20px;
  background-size: cover;
  position: relative;
}

#catalog_main figure img {
  margin-bottom: 15px;
  height: 300px;
  width: 100%;
}

#catalog_main figure img:hover {
  cursor: pointer;
}

#catalog_main figure figcaption {
  padding: 0 15px;
  font-size: 18px;
  font-weight: 700;
}

#catalog_main a {
  color: #1f1f1f;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

#index {
  .row {
    margin-left: -20px;
    margin-right: -20px;
    .swiper-button-next {
      margin-right: -10px;
      margin-top: -70px;
    }
    .swiper-button-prev {
      margin-left: -10px;
      margin-top: -70px;
    }
  }
}

/*
 ======================================================================

                                Default

 ======================================================================
*/

.content {
  .text {
    margin-bottom: 20px;
  }
}

.default {
  color: #3c3c3c;
}

.default h1 {
  margin-bottom: 20px;
}

/*
 ======================================================================

                                Left menu

 ======================================================================
*/

.left_menu {
  position: relative;
  h3 {
    color: #596307;
    margin-top: 7px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    border-bottom: 1px solid #596307;
  }
  h5 {
    font-size: 16px;
    color: #4c4c4c;
    padding: 15px 5px 15px 0;
    display: list-item;
    list-style-position: inside;
    &:hover, &:active, &.active {
      color: #ff8400;
      font-weight: 700;
      a {
        color: #ff8400;
      }
    }
    a {
      color: #4c4c4c;
      &:hover, &:active {
        color: #ff8400;
      }
    }
  }
  #green_block {
    width: 60px;
    height: 3px;
    background-color: #596307;
    position: absolute;
    top: 33px;
  }
  .download {
    font-size: 16px;
    color: #7f7f7f;
    margin: 15px 0;
    padding-left: 60px;
    width: 100%;
    display: block;
    &:hover {
      color: #4c4c4c;
    }
  }
}

/*
 ======================================================================

                                Speciality

 ======================================================================
*/

.speciality {
  .title {
    text-align: left;
    text-transform: none;
    margin-top: 0;
  }
  #text-block {
    float: left;
    width: 35%;
    h3 {
      font-size: 18px;
      text-align: center;
      line-height: 85px;
    }
    div {
      text-align: center;
      margin: 0 auto;
      width: 75%;
      height: 75px;
      overflow: hidden;
    }
    a {
      line-height: 43px;
      display: block;
      width: 75%;
      color: #fff;
      text-align: center;
      font-size: 16px;
      margin: 0 auto;
      font-weight: 700;
      border-radius: 4px;
      border: 3px solid #fff;
      position: relative;
      top: 35px;
      &:hover {
        opacity: .8;
      }
    }
  }
  #image-block {
    height: 274px;
    margin-bottom: 20px;
    img {
      width: 65%;
      float: right;
    }
    background-color: #662b00;
    color: #fff;
  }
  .courses {
    margin-bottom: 10px;
  }
}
#call_block {
  padding-top: 25px;
  border-top: 26px solid #5bb85d;
  border-radius: 10px;
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
  padding-left: 32px;
  a {
    font-size: 12px;
    color: #fff;
    line-height: 30px;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    margin-top: 25px;
    background-color: $orange;
    &:hover {
      opacity: .8;
    }
  }
}

/*
 ======================================================================

                                Error

 ======================================================================
*/

  #error {
    text-align: center;
  }
  #error img {
    margin: 50px 0 40px;
  }
  #error span {
    color: #1f1f1f;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .red_btn {
    background-color: #f26f0e;
    color: #fff;
    padding: 14px 35px;
    border-radius: 10px;
  }
  .red_btn:hover,
  .red_btn:active,
  .red_btn:focus {
    color: #fff;
  }

/*
 ======================================================================

                                Reviews

 ======================================================================
*/

.review {
  h1 {
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: none;
    text-align: left;
  }
  span.title {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: none;
  }
  .date {
    color: #aaa;
    font-size: 12px;
    margin: 4px 0;
  }
  .text {
    color: #3b4340;
    font-size: 14px;
  }
  .inner {
    #review-form {
      padding: 0 25px;
      background-color: #f5f5f5;
      input {
        height: 42px;
      }
      textarea {
        min-height: 250px;
        resize: none;
      }
      button {
        line-height: 46px;
        font-size: 22px;
        margin-top: 45px;
        margin-bottom: 25px;
        width: 100%;
        background-color: $orange;
        color: #fff;
        &:hover, &:active {
          opacity: .8;
        }
      }
    }
    h3 {
      color: #fff;
      background-color: $green-light;
      text-align: center;
      line-height: 47px;
      font-size: 22px;
      margin-bottom: 22px;
    }
    i {
      margin-right: 5px;
    }
  }
}
  .rewiew .inner input,
  .rewiew .inner textarea {
    color: #d5d5d5;
    border: 1px solid #d5d5d5;
    height: 33px;
    border-radius: 5px;
    margin-bottom: 22px;
    margin-left: 22px;
    width: 233px;
    font-size: 16px;
  }
  .rewiew .inner textarea {
    height: 170px;
  }
  .rewiew .inner .send_container {
    text-align: center;
  }
  #send_rev {
    position: relative;
  }
  #send_rev label.error {
    left: 90px;
  }
  #send_rev #name-error {
    top: 0;
  }
  #send_rev #email-error {
    top: 55px;
  }
  #send_rev #review-error {
    top: 155px;
  }

/*
 ======================================================================

                                Contacts

 ======================================================================
*/

.contacts {
  h1 {
    text-transform: none;
    margin-top: 0;
  }
  #map {
    width: 100%;
    margin-bottom: 30px;
  }
  .info {
    float: left;
    margin-right: 10%;
    font-size: 14px;
    i {
      color: #8f8f8f;
      margin-right: 10px;
    }
    span {
      color: #8f8f8f;
    }
    div {
      margin-top: 5px;
    }
    a {
      i {
        color: #202020;
      }
    }
  }
  .feedback {
    margin-top: 25px;
    h3 {
      color: #fff;
      background-color: $orange;
      line-height: 50px;
      text-align: center;
      font-size: 26px;
    }
    i {
      margin-right: 5px;
    }
    #feedback-form {
      padding-top: 30px;
      height: 260px;
      background-size: cover;
      background-image: url("../img/feedback-background.jpg");
      label {
        display: none;
      }
      input, select, textarea {
        border: 2px solid #ccc37d;
        border-radius: 5px;
      }
      input {
        margin-bottom: 20px;
      }
      textarea {
        padding-left: 12px;
        padding-top: 12px;
        width: 100%;
        resize: none;
        height: 148px;
      }
      button {
        color: #fff;
        background-color: $orange;
        border: none;
        font-size: 16px;
        font-weight: 700;
        border-radius: 10px;
        width: 110px;
        display: block;
        outline: none;
        margin: 10px auto;
        &:hover, &:active {
          opacity: .8;
        }
      }
    }
  }
}

/*
 ======================================================================

                                Modals

 ======================================================================
*/

#modal {
  .modal-dialog {
    width: 365px;
    border-radius: 10px;
    margin-top: 90px;
  }
  .modal-header {
    background-color: $green-light;
    padding: 6px 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    h4 {
      font-weight: 700;
    }
  }
  textarea {
    height: 95px;
    resize: none;
  }
  form {
    button {
      background-color: $orange;
      color: #fff;
      width: 250px;
      line-height: 41px;
      font-size: 18px;
      border-radius: 10px;
      margin: 10px auto 0;
      padding: 0;
      display: block;
      &:hover, &:active {
        opacity: .8;
      }
    }
  }
  label {
    font-size: 14px;
    color: #a8a7a7;
    font-weight: 700;
  }
  .modal-content {
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .close {
    background-color: $orange;
    color: #fff;
    opacity: 1;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    span {
      position: relative;
      top: -2px;
    }
    &:hover {
      opacity: .8;
    }
  }
}

/*
 ======================================================================

                                Footer

 ======================================================================
*/

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 280px;
  background-color: $green-light;
  span {
    padding-left: 5px;
  }
  .menu {
    li {
      padding-left: 40px;
      color: #1f1f1f;
      font-size: 14px;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
    ul {
      padding-left: 0;
      list-style: disc inside;
      a:hover{
        font-weight: 700;
      }
    }
  }
  .text {
    font-size: 14px;
    padding-left: 20px;
    margin-top: -35px;
    padding-top: 50px;
  }
  h4 {
    font-weight: 700;
    margin-top: 25px;
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 50px;
  }
  .kont {
    font-size: 14px;
    h4 {
      padding-left: 0;
    }
    span {
      font-size: 14px;
      background: no-repeat 10px 0;
      margin-bottom: 5px;
    }
  }
  .xls {
    .fa.fa-file-excel-o {
      margin-right: 3px;
    }
    a.download.price {
      padding-left: 50px;
    }
  }
  #info {
    padding: 8px 15px 0;
    color: #fff;
    font-size: 12px;
    background-color: $green-dark;
    height: 53px;
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: -53px;
    .copyright {
      float: left;
    }
  }
  a.download.price {
    font-size: 14px;
    color: #1f1f1f;
    padding-left: 60px;
    height: 20px;
    &:hover {
      font-weight: 700;
    }
  }
  .up {
    width: 56px;
    height: 56px;
    display: inline-block;
    margin-top: 60px;
    position: fixed;
    top: 70%;
    left: 77%;
    i {
      color: #fff;
      font-size: 40px;
      border: 2px solid #fff;
      border-radius: 32px;
      width: 48px;
      height: 48px;
      text-align: center;
    }
  }
}